<!--
Here is the main HTML where handlebars will render to
 -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="./assets/css/burger_style.css">
		<title>MVC With Burgers!</title>
	</head>
	<body>
		<div>	
			<img src="./assets/image/burger.png" align="middle"></p>
			<h1>Eat Da Burger!</h1>
		</div>	
		{{{ body }}}
	</body>
</HTML>
